[Unit]
Description=Custom shell
After=getty@tty2.service

[Service]
Type=oneshot
ExecStart=/home/pi/livingdoc/shell
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target
